.PeopleListTable {
  color: rgb(73, 73, 73);
}

.PeopleListTable__table {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  padding: 5px;
}

.PeopleListTable__table-column {
  background: #ffffff;
}

.PeopleListTable__table-column-title{
  padding: 15px 10px;
  height: 30px; 
  font-weight: 600;
}

.PeopleListTable__table-column-item {
  padding: 15px 10px;
  height: 30px;
  display: flex;
  align-items: center;
}

.PeopleListTable__table-column-item:nth-child(even){
  background-color: #e8e8e9;
}

.SearchInput {
  height: 40px;
  width: 60%;
}

.Navbar {
  display: flex;
  margin-top: 30px;
}

.Pagination {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.Pagination__button {
  height: 40px;
  width: 40px;
}